<div class="garantia">
    <div class="garantia-container">
        <div class="garantia-container-img">
            <img src="https://cdn.shopify.com/s/files/1/0654/4860/7804/files/selo.png?v=1750803895" alt="Selo de Garantia">
        </div>
        <div class="garantia-container-text">
            <p>Garantia <strong>Anna Engles Store</strong> de satisfação</p>
            <p>se você não ficar 100% satisfeita com a sua compra, devolvemos o seu dinheiro</p>
            <p>se o tamanho da sua peça não for ideal, realizamos a troca sem custo adicional</p>
        </div>
    </div>
</div>