/* Layout */
.page-width-desktop, .page-width{
    max-width: 100vw;
}

/* Header */
.header__inline-menu {
    border-top: 1px solid rgba(var(--color-foreground), 0.08);
    padding: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
}
.header__inline-menu a {
    font-size: 13px;
}
@media screen and (min-width: 990px) {
    .header:not(.header--middle-left, .header--middle-center) .header__inline-menu {
        margin-top: 0;
    }
}
.header__heading-link, .header.page-width{
    margin: 0;
    padding: 0;
}

/* Pitbar */ 
.shopify-section  .multicolumn .multicolumn-card {
    display: flex;
    }
@media (max-width: 992px) {    
    .shopify-section  .multicolumn .multicolumn-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .shopify-section
    li
    .multicolumn-card
    .multicolumn-card__image-wrapper .media{
        margin-bottom: 10px;
    }
}
.shopify-section li .multicolumn-card
.multicolumn-card__image-wrapper {
    margin-right: 15px;
    width: 50px;
    min-width: 50px;
}
.shopify-section li
.multicolumn-card {
    align-items: center;
    justify-content: center;
}

.shopify-section li .multicolumn-card
    .multicolumn-card__image-wrapper
    img {   
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .shopify-section
    li
    .multicolumn-card
    .multicolumn-card__info
    h3 {
    color: #3f4948;
    font-weight: 700;
    font-size: 15px;
  }
  .shopify-section
    li
    .multicolumn-card
    .multicolumn-card__info
    p {
    color: #3f4948;
    font-size: 13px;
    padding: 0;
  }  
  .shopify-section
    li
    .multicolumn-card
    .multicolumn-card__info *{
    font-family: 'Montserrat';
  } 
  
  .shopify-section
    .multicolumn-card__image-wrapper--third-width {
    width: 50px;
}
@media screen and (min-width: 750px) {
    .shopify-section
    .background-none .multicolumn-card__image-wrapper {
        margin: 0;
    }
}
.shopify-section li
.multicolumn-card *{
    margin: 0;
    padding: 0;
}



/* Botão cards de produto */
.quick-add button {
    background: #17683A;
    color: #fff;
    box-shadow: none;
    }
.quick-add button:hover{
    border: 1px solid #939393;
}
.button:after{
    box-shadow: none;
}
.button:not([disabled]):hover:after, .shopify-challenge__button:hover:after, .customer button:hover:after, .shopify-payment-button__button--unbranded:hover:after {
    --border-offset: 0;
}



/* Card de Coleções */
.shopify-section.section.section-collection-list  li > .collection-card-wrapper > .card > .card__content{
    display: none;
}
.shopify-section.section.section-collection-list .card--standard.card--media .card__inner .card__information{
    display: block;
}
.shopify-section.section.section-collection-list .card--standard.card--media .card__inner .card__information .card__heading > a{
    display: flex;
    flex-direction: column;
}
.shopify-section.section.section-collection-list .card--standard.card--media .card__inner .card__information .card__heading > a{
    font-size: 65px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}
.shopify-section.section.section-collection-list .card--standard.card--media .card__inner .card__information .card__heading > a > span{
    font-size: 20px;
    color: #fff;
    background: #121212;
    font-weight: 500;
    text-transform: none;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 10px auto;
}

@media screen and (min-width: 990px) {
    .header:not(.header--top-center) > .header__search, .header--top-center * > .header__search {
        display: flex;
    }
}

header > div > div.header__action-item .header__wishlist{
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div > div.header__action-item .header__wishlist:hover{
    transform: scale(1.07);
}
header > div > div.header__action-item .header__wishlist path{
    fill: #444444;
}
